<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>LLM_Agent_2</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <style>
      body {
        font-family: system-ui, sans-serif;
      }
        </style>
    </head>
    <body class="p-8 w-full h-screen flex flex-col">
        <h1 class="font-bold text-8xl pb-8">Chat</h1>
        <p>You are chatting with an agent with id {{ agent_id }}</p>
        <p class="text-red-600">Remember - you are chatting with an humanlike AI, not a human. LLMs can make mistakes and hallucinate information. Take everything it says with a grain of salt.</p>
        <div class="grid grid-cols-[3fr_1fr] gap-4 flex-1 min-h-0">
            <div class="p-4 flex flex-col min-h-0 gap-2">
                <h2 class="font-bold text-4xl pb-4">Conversation</h2>
                <ul id="messages"
                    class='flex flex-1 overflow-auto flex-col gap-2 max-h-full [&>li]:text-wrap [&>li]:p-2 [&>li]:border-2 [&>li]:rounded-2xl'>
                </ul>
                <div class="w-full grid grid-cols-[1fr_4fr_1fr] gap-2 border-black border-2 p-2 rounded-2xl">
                    <form id="fileUploadForm" enctype="multipart/form-data">
                        <label for="fileInput"
                               class="cursor-pointer px-4 py-2 bg-gray-200 rounded hover:bg-gray-300 text-center">
                            Choose file
                        </label>
                        <input type="file" name="file" id="fileInput" class="hidden" required />
                    </form>
                    <input type="text"
                           id="messageText"
                           name="messageText"
                           value=""
                           placeholder="Type message here"
                           required />
                    <button class="font-bold text-green-600"
                            type="button"
                            id="messageSendBtn"
                            onclick="sendMessage()">Send message</button>
                </div>
                <div id="uploadProgressContainer" class="mt-2 hidden">
                    <progress id="uploadProgress" max="100" value="0" class="w-full h-4 rounded"></progress>
                    <p id="progressText" class="text-center text-sm text-gray-600">Uploading: 0%</p>
                </div>
                <div class="grid justify-items-start p-2">
                    <button type="button" class="font-bold">
                        <a href="{{ url_for("home_page") }}">Back to home</a>
                    </button>
                </div>
            </div>
            <div class="p-4 flex flex-col min-h-0 gap-2">
                <h2 class="font-bold text-4xl pb-4">Consciousness Stream</h2>
                <p>
                    Status: <span id="cs-status" class="text-red-600">&#9679;</span>
                </p>
                <ul id="consciousness-stream"
                    class='flex flex-1 overflow-auto flex-col gap-2 max-h-full [&>li]:text-wrap [&>li]:p-2 [&>li]:border-black [&>li]:border-2 [&>li]:rounded-2xl [&>li]:whitespace-pre-wrap'>
                </ul>
                <div class="flex gap-4">
                    <button class="font-bold text-yellow-600" type="button" id='haltSoonBtn'>Halt soon</button>
                    <button class="font-bold text-red-600" type="button" id='haltNowBtn'>Halt now</button>
                </div>
            </div>
        </div>
    </body>
    <!-- <script src="esprima.js"></script> -->
    <!-- <script src="js-yaml.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/js-yaml/dist/js-yaml.min.js"></script>
    <script>
    const messageSendBtn = document.getElementById("messageSendBtn");
    const input = document.getElementById("messageText");

    const messages = document.getElementById("messages");
    const consciousness_stream = document.getElementById("consciousness-stream");
    const csStatusIndicator = document.getElementById("cs-status");

    const ws = new WebSocket("{{ url_for('chat', agent_id=agent_id) }}");

    let agentSending = false;

    function scrollToBottom(container) {
      container.scrollTop = container.scrollHeight;
    }

    function setSendingState() {
      csStatusIndicator.className = "text-green-600 animate-pulse";
      agentSending = true;
    }

    function setIdleState() {
      csStatusIndicator.className = "text-red-600";
      agentSending = false;
    }

    function setErrorState() {
      csStatusIndicator.className = "text-purple-600";
      messageSendBtn.disabled = true;
      agentSending = false;
    }

    ws.onopen = function () {
      const params = new URLSearchParams(window.location.search);
      const firstInteraction = Boolean(params.get("fi"));

      setSendingState();

      ws.send(JSON.stringify({
        first_interaction: firstInteraction
      }));
    };

    ws.onmessage = function (event) {
      const atpm = JSON.parse(event.data);
      console.log("WS raw event:", event.data);

      switch (atpm.message_type) {
        case "debug":
          console.log(atpm.payload);
          break;
        case "ping":
          console.log(`Ping no. ${atpm.count}`);
          // ws.send(JSON.stringify({ pong: atpm.count }));
          break;
        case "halt":
          setIdleState();
          break;
        case "to_user":
          if (atpm.payload.trim().length === 0) {
            break;
          }

          var message = document.createElement("li");
          // var content = document.createTextNode(atpm.payload);
          // message.className = "self-end bg-blue-100 border-blue-600 text-right max-w-[70%]";
          message.className = "self-end bg-blue-100 border-blue-600 text-left max-w-[70%]";

          // message.appendChild(content);
          message.innerHTML = marked.parse(atpm.payload);
          messages.appendChild(message);
          scrollToBottom(messages);
          break;
        case "system":
          if (atpm.payload.trim().length === 0) {
            break;
          }

          var message = document.createElement("li");
          var content = document.createTextNode(atpm.payload);
          message.className = "self-center text-center text-sm text-gray-600 max-w-[70%] border-none";

          message.appendChild(content);
          messages.appendChild(message);
          scrollToBottom(messages);
        default:
          var cs_atpm = document.createElement("li");
          var cs_content = document.createTextNode(jsyaml.dump(atpm));
          // cs_content.appendChild(jsyaml.safeDump(atpm));
          cs_atpm.appendChild(cs_content);
          consciousness_stream.appendChild(cs_atpm);
          scrollToBottom(consciousness_stream);
      }
    };

    ws.onerror = (event) => {
      console.error("WebSocket error event:", event);
      alert("WebSocket error occurred. Check console for details.");
      setErrorState();
    };
    
    ws.onclose = (event) => {
      console.warn("WebSocket closed:", {
        code: event.code,
        reason: event.reason,
        wasClean: event.wasClean
      });
      setErrorState();
    };
    
    function sendMessage() { 
      const input = document.getElementById("messageText");

      if (input.value.trim() === '') {
        return;
      }

      var message = document.createElement("li");
      // var content = document.createTextNode(input.value);
      message.className = "self-start bg-green-100 border-green-600 text-left max-w-[70%]";

      // message.appendChild(content);
      message.innerHTML = marked.parse(input.value);
      messages.appendChild(message);
      scrollToBottom(messages);

      // consciousness_stream.innerHTML = '';

      if (agentSending) {
        ws.send(JSON.stringify({
          command: "halt"
        }));
      } else {
        setSendingState();
      }

      ws.send(JSON.stringify({
        user_message: input.value
      }));
    
      input.value = "";
    }
  
    document.getElementById("messageText")
        .addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.key === "Enter") {
            document.getElementById("messageSendBtn").click();
        }
    });

    document.getElementById("haltSoonBtn").addEventListener("click", function (event) {
      ws.send(JSON.stringify({
        command: "halt_soon"
      }));
    });
    document.getElementById("haltNowBtn").addEventListener("click", function (event) {
      ws.send(JSON.stringify({
        command: "halt"
      }));
    });


    const fileInput = document.getElementById('fileInput');
    const uploadProgress = document.getElementById('uploadProgress');
    const progressText = document.getElementById('progressText');
    const uploadProgressContainer = document.getElementById('uploadProgressContainer');
    fileInput.addEventListener('change', async () => {
      if (!fileInput.files.length) return;

      // Show progress bar
      uploadProgressContainer.classList.remove('hidden');

      for (const file of fileInput.files) {
          // Tell server a new file is starting
          ws.send(JSON.stringify({
              file_command: "start",
              filename: file.name,
          }));

          const chunkSize = 64 * 1024; // 64 KB chunks
          let offset = 0;
          const totalSize = file.size;

          while (offset < file.size) {
              const chunk = file.slice(offset, offset + chunkSize);
              const arrayBuffer = await chunk.arrayBuffer();
              ws.send(arrayBuffer);
              offset += chunkSize;

              // Update progress
              const progress = Math.min((offset / totalSize) * 100, 100);
              uploadProgress.value = progress;
              progressText.textContent = `Uploading: ${Math.round(progress)}%`;
          }

          // Tell server file is done
          ws.send(JSON.stringify({ file_command: "end" }));

          // Reset progress bar after file upload completes
          uploadProgress.value = 0;
          progressText.textContent = `Uploading: 0%`;
          uploadProgressContainer.classList.add('hidden');
      }

      // consciousness_stream.innerHTML = '';
      fileInput.value = "";
    });

    window.addEventListener("beforeunload", (event) => {
        try {
            if (ws.readyState === WebSocket.OPEN) {
                ws.send(JSON.stringify({ command: "__DISCONNECT__" }));
                ws.close();
            }
        } catch {}
    });
    </script>
</html>
