<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LLM_Agent_2</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        font-family: system-ui, sans-serif;
      }
    </style>
  </head>
  <body class="p-8 w-full">
    <h1 class="font-bold text-8xl pb-8">Chat</h1>
    <p>You are chatting with an agent with id {{ agent_id }}</p>
    <div class="grid grid-cols-[3fr_1fr] grid-rows-1">
      <div class="p-4">
        <h2 class="font-bold text-4xl pb-4">Conversation</h2>
        <ul id="messages" class='flex flex-col gap-2 [&>ul]:text-wrap [&>ul]:p-2'></ul> 
        <div
          class="w-full grid grid-cols-[3fr_1fr] gap-2 border-black border-2 p-2"
        >
          <input
            type="text"
            id="messageText"
            name="messageText"
            value=""
            placeholder="Type message here"
            required
          />
          <button
            class="font-bold text-green-600"
            type="button"
            id="messageSendBtn"
            onclick="sendMessage()"
          >
            Send message
          </button>
        </div>
      </div>
      <div class="p-4">
        <h2 class="font-bold text-4xl pb-4">Consciousness Stream</h2>
        <p>Status: <span id="cs-status" class="text-red-600">&#9679;</span></p>
        <ul id="consciousness-stream" class='flex flex-col gap-2 [&>ul]:text-wrap [&>ul]:p-2'></ul>
        <div class="flex gap-4">
          <button class="font-bold text-yellow-600" type="submit">
            Halt soon
          </button>
          <button class="font-bold text-red-600" type="submit">Halt now</button>
        </div>
      </div>
    </div>
      <div class="grid justify-items-start p-2">
          <button type="button" class="font-bold">
              <a href="{{ url_for("home_page") }}">Back to home</a>
          </button>
      </div>
  </body>
  <!-- <script src="esprima.js"></script> -->
  <!-- <script src="js-yaml.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/js-yaml/dist/js-yaml.min.js"></script>
  <script>
    function invokeWSLoop() {
      const messageSendBtn = document.getElementById("messageSendBtn");
      const input = document.getElementById("messageText");

      const messages = document.getElementById("messages");
      const consciousness_stream = document.getElementById("consciousness-stream");
      const csStatusIndicator = document.getElementById("cs-status");

      input.value = "";
      messageSendBtn.disabled = true;
      csStatusIndicator.className = "text-green-600";

      const ws = new WebSocket("{{ url_for('interact', agent_id=agent_id) }}");

      ws.onmessage = function (event) {
        const atpm = JSON.parse(event.data);

        const cs_atpm = document.createElement("li");
        const cs_content = document.createTextNode(jsyaml.dump(atpm));
        // cs_content.appendChild(jsyaml.safeDump(atpm));
        cs_atpm.appendChild(cs_content);
        consciousness_stream.appendChild(cs_atpm);

        if (atpm.message_type === "to_user") {
          var message = document.createElement("li");
          var content = document.createTextNode(atpm.payload);
          message.appendChild(content);
          messages.appendChild(message);
        } else if (atpm.message_type === "halt") {
          // ws.close(); //error - closed serverside
          csStatusIndicator.className = "text-red-600";
          messageSendBtn.disabled = false;
        }
      };

      ws.onerror = (err) => {
        console.error("WebSocket error:", err);
        csStatusIndicator.className = "text-red-600";
        messageSendBtn.disabled = false; // re-enable even on error
      };
    }

    function sendMessageToAPI(message_type, message) {
      const data = {
        message_type,
        message
      }

      return fetch(
        "{{ url_for('send_message', agent_id=agent_id) }}",
        {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        },
        ).then(
          (response) => {
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json(); // parse JSON response
          }      
        );
    }

    function sendMessage() { 
      const input = document.getElementById("messageText");

      const messages = document.getElementById("messages");
      const consciousness_stream = document.getElementById("consciousness-stream");

      var message = document.createElement("li");
      var content = document.createTextNode(input.value);
      message.appendChild(content);
      messages.appendChild(message);

      consciousness_stream.innerHTML = '';
    
      sendMessageToAPI('user', input.value);
      invokeWSLoop();
    }

    window.addEventListener("load", function () {
      // console.log("Page fully loaded");
      const params = new URLSearchParams(window.location.search);
      const firstInteraction = params.get("fi");

      let entryMsg = ""
      if (firstInteraction) {
        entryMsg = "A new user has entered the conversation. You should greet the user then get to know him.";
        params.delete("fi");
        const newUrl = window.location.pathname + (params.toString() ? "?" + params.toString() : "");
        window.history.replaceState({}, "", newUrl);
      } else {
        entryMsg = "The user has re-entered the conversation. You should greet the user then carry on where you had left off.";
      }

      sendMessageToAPI('system', entryMsg);
      invokeWSLoop();
    });

    // window.addEventListener("visibilitychange", function () {
    //   // console.log("Page is about to unload");
    //   if (document.visibilityState === "hidden") {
    //     navigator.sendBeacon("{{ url_for('send_message', agent_id=agent_id) }}", JSON.stringify({message_type: 'system', message: 'The user has exited the conversation. You should do some background tasks (if necessary) before going into standby mode.'}));
    //     navigator.sendBeacon("{{ url_for('interact_no_stream', agent_id=agent_id) }}");
    //   }
    // });

    window.addEventListener("beforeunload", function () {
      // console.log("Page is about to unload");
      navigator.sendBeacon("{{ url_for('send_message', agent_id=agent_id) }}", JSON.stringify({message_type: 'system', message: 'The user has exited the conversation. You should do some background tasks (if necessary) before going into standby mode.'}));
      navigator.sendBeacon("{{ url_for('interact_no_stream', agent_id=agent_id) }}");
    });
  </script>
</html>
