<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LLM_Agent_2</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        font-family: system-ui, sans-serif;
      }
    </style>
  </head>
  <body class="p-8 w-full h-screen flex flex-col">
    <h1 class="font-bold text-8xl pb-8">Chat</h1>
    <p>You are chatting with an agent with id {{ agent_id }}</p>
    <div class="grid grid-cols-[3fr_1fr] gap-4 flex-1 min-h-0">
      <div class="p-4 flex flex-col min-h-0 gap-2">
        <h2 class="font-bold text-4xl pb-4">Conversation</h2>
        <ul id="messages" class='flex flex-1 overflow-auto flex-col gap-2 max-h-full [&>li]:text-wrap [&>li]:p-2 [&>li]:border-2 [&>li]:rounded-2xl'></ul> 
        <div
          class="w-full grid grid-cols-[1fr_4fr_1fr] gap-2 border-black border-2 p-2 rounded-2xl"
        >
          <form id="fileUploadForm" enctype="multipart/form-data">
            <label
              for="fileInput"
              class="cursor-pointer px-4 py-2 bg-gray-200 rounded hover:bg-gray-300 text-center"
            >
              Choose file
            </label>
            <input type="file" name="file" id="fileInput" class="hidden" required />
          </form>
          <input
            type="text"
            id="messageText"
            name="messageText"
            value=""
            placeholder="Type message here"
            required
          />
          <button
            class="font-bold text-green-600"
            type="button"
            id="messageSendBtn"
            onclick="sendMessage()"
          >
            Send message
          </button>
        </div>
        <div class="grid justify-items-start p-2">
            <button type="button" class="font-bold">
                <a href="{{ url_for("home_page") }}">Back to home</a>
            </button>
        </div>
      </div>
      <div class="p-4 flex flex-col min-h-0 gap-2">
        <h2 class="font-bold text-4xl pb-4">Consciousness Stream</h2>
        <p>Status: <span id="cs-status" class="text-red-600">&#9679;</span></p>
        <ul id="consciousness-stream" class='flex flex-1 overflow-auto flex-col gap-2 max-h-full [&>li]:text-wrap [&>li]:p-2 [&>li]:border-black [&>li]:border-2 [&>li]:rounded-2xl'></ul>
        <div class="flex gap-4">
          <button class="font-bold text-yellow-600" type="button" id='haltSoonBtn'>
            Halt soon
          </button>
          <button class="font-bold text-red-600" type="button" id='haltNowBtn'>Halt now</button>
        </div>
      </div>
    </div>
  </body>
  <!-- <script src="esprima.js"></script> -->
  <!-- <script src="js-yaml.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/js-yaml/dist/js-yaml.min.js"></script>
  <script>
    let ws;

    function scrollToBottom(container) {
      container.scrollTop = container.scrollHeight;
    }

    function invokeWSLoop() {
      const messageSendBtn = document.getElementById("messageSendBtn");
      const input = document.getElementById("messageText");

      const messages = document.getElementById("messages");
      const consciousness_stream = document.getElementById("consciousness-stream");
      const csStatusIndicator = document.getElementById("cs-status");

      const haltSoonBtn = document.getElementById("haltSoonBtn");
      const haltNowBtn = document.getElementById("haltNowBtn");

      input.value = "";
      messageSendBtn.disabled = true;
      csStatusIndicator.className = "text-green-600 animate-pulse";

      if (ws && ws.readyState === WebSocket.OPEN) {
        ws.close();
      }

      ws = new WebSocket("{{ url_for('interact', agent_id=agent_id) }}");

      ws.onmessage = function (event) {
        const atpm = JSON.parse(event.data);

        switch (atpm.message_type) {
          case "keepalive":
            break;
          case "debug":
            console.log(atpm.payload);
            break;
          case "to_user":
            if (atpm.payload.trim().length === 0) {
              break;
            }

            var message = document.createElement("li");
            var content = document.createTextNode(atpm.payload);
            // message.className = "self-end bg-blue-100 border-blue-600 text-right max-w-[70%]";
            message.className = "self-end bg-blue-100 border-blue-600 text-left max-w-[70%]";

            message.appendChild(content);
            messages.appendChild(message);
            scrollToBottom(messages);
            break;
          case "system":
            if (atpm.payload.trim().length === 0) {
              break;
            }

            var message = document.createElement("li");
            var content = document.createTextNode(atpm.payload);
            message.className = "self-center text-center text-sm text-gray-600 max-w-[70%] border-none";

            message.appendChild(content);
            messages.appendChild(message);
            scrollToBottom(messages);
          default:
            const cs_atpm = document.createElement("li");
            const cs_content = document.createTextNode(jsyaml.dump(atpm));
            // cs_content.appendChild(jsyaml.safeDump(atpm));
            cs_atpm.appendChild(cs_content);
            consciousness_stream.appendChild(cs_atpm);
            scrollToBottom(consciousness_stream);
        }
      };

      ws.onerror = (err) => {
        console.error("WebSocket error:", err);
        csStatusIndicator.className = "text-red-600";
        messageSendBtn.disabled = false; // re-enable even on error
      };

      function haltSoonBtnHandler(event) {
        ws.send(JSON.stringify({
          command: "halt_soon"
        }));
      }
      haltSoonBtn.addEventListener("click", haltSoonBtnHandler);

      function haltNowBtnHandler(event) {
        ws.send(JSON.stringify({
          command: "halt"
        }));
      }
      haltNowBtn.addEventListener("click", haltNowBtnHandler);

      ws.onclose = (event) => {
        console.log("WebSocket closed:", event.code, event.reason);
        haltSoonBtn.removeEventListener("click", haltSoonBtnHandler);
        haltNowBtn.removeEventListener("click", haltNowBtnHandler);
        csStatusIndicator.className = "text-red-600";
        messageSendBtn.disabled = false;
      };
    }

    function sendMessageToAPI(message_type, message) {
      const data = {
        message_type,
        message
      }

      return fetch(
        "{{ url_for('send_message', agent_id=agent_id) }}",
        {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        },
        ).then(
          (response) => {
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json(); // parse JSON response
          }      
        );
    }

    function sendMessage() { 
      const input = document.getElementById("messageText");

      if (input.value.trim() === '') {
        return;
      }

      const messages = document.getElementById("messages");
      const consciousness_stream = document.getElementById("consciousness-stream");

      var message = document.createElement("li");
      var content = document.createTextNode(input.value);
      message.className = "self-start bg-green-100 border-green-600 text-left max-w-[70%]";

      message.appendChild(content);
      messages.appendChild(message);
      scrollToBottom(messages);

      consciousness_stream.innerHTML = '';
    
      sendMessageToAPI('user', input.value);
      invokeWSLoop();
    }

    window.addEventListener("load", function () {
      // console.log("Page fully loaded");
      const params = new URLSearchParams(window.location.search);
      const firstInteraction = params.get("fi");

      let entryMsg = ""
      if (firstInteraction) {
        entryMsg = "A new user has entered the conversation. You should greet the user then get to know him.";
        params.delete("fi");
        const newUrl = window.location.pathname + (params.toString() ? "?" + params.toString() : "");
        window.history.replaceState({}, "", newUrl);
      } else {
        entryMsg = "The user has re-entered the conversation. You should greet the user then carry on where you have left off.";
      }

      sendMessageToAPI('system', entryMsg);

      const messages = document.getElementById("messages");
      var message = document.createElement("li");
      var content = document.createTextNode(entryMsg);
      message.className = "self-center text-center text-sm text-gray-600 max-w-[70%] border-none";
      message.appendChild(content);
      messages.appendChild(message);
      scrollToBottom(messages);

      invokeWSLoop();
    });

    window.addEventListener("beforeunload", function () {
      // console.log("Page is about to unload");
      if (ws && ws.readyState === WebSocket.OPEN) {
        ws.close();
      }

      navigator.sendBeacon("{{ url_for('send_message', agent_id=agent_id) }}", JSON.stringify({message_type: 'system', message: 'The user has exited the conversation. You should do some background tasks (if necessary) before going into standby mode.'}));
      navigator.sendBeacon("{{ url_for('interact_no_stream', agent_id=agent_id) }}");
    });

    document.getElementById("messageText")
        .addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.key === "Enter") {
            document.getElementById("messageSendBtn").click();
        }
    });

    const fileInput = document.getElementById('fileInput');

    fileInput.addEventListener('change', async () => {
      if (!fileInput.files.length) return;

      const formData = new FormData();
      formData.append('file', fileInput.files[0]);

      try {
        const response = await fetch("{{ url_for('upload', agent_id=agent_id) }}", {
          method: 'POST',
          body: formData
        });

        if (!response.ok) {
          throw new Error(`Upload failed with status ${response.status}`);
        }

        const result = await response.text();
        console.log('Upload success:', result);

        const messages = document.getElementById("messages");
        var message = document.createElement("li");
        var content = document.createTextNode(`File ${fileInput.files[0].name} has been uploaded by the user into your Archival Storage. You should explore this file to better answer relevant user queries.`);
        message.className = "self-center text-center text-sm text-gray-600 max-w-[70%] border-none";
        message.appendChild(content);
        messages.appendChild(message);
        scrollToBottom(messages);
      } catch (err) {
        console.error(err);
        alert('File upload failed.');
      } finally {
        fileInput.value = ''; // reset input
      }
    });
  </script>
</html>
