<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <style>
    body {
      font-family: system-ui, sans-serif;
    }
  </style>
</head>
<body>
  <h1>LLM_Agent_2 Menu</h1>
  <div>
    <ul>
      {% for id, created_at in agent_infos %}
        <a href="{{ url_for('chat_page', agent_id=id) }}">{{ id }} (created at {{ created_at }})</a>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
